.card_title {
    font-size: 14px;
}

.card_description {
    font-size: 12px;
}

img {
    width: 100%;
    margin-bottom: 14px;
}

.card {
    color: #000000;
    padding: 14px;
    margin: 30px;
    background-color: #ffffff;
    width: 300px;
    height: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .card_title {
        font-size: 10px;
    }

    .card_description {
        font-size: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (max-width: 320px) {
    .card_title {
        font-size: 10px;
    }

    .card_description {
        display: none;
    }

}

body {
    background-color: #c4c4c4;
}

header {
    height: 30px;
    background-color: #ffffff;
}

footer {
    background-color: #ffffff;
    height: 30px;
}